body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.tile-block {
    height: 175px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-item {
    border: solid;
}

.card-item-account {
    background-color: blue;
}

.card-item-expense {
    background-color: red;
}

.card-item-income {
    background-color: green;
}

.card-item-body {
    padding: 5px 5px;
    margin: 0px 0px 0px 15px;
    border: none;
    background-color: white;
}

    .card-item-body:hover {
        background-color: #ebebeb;
    }

    .card-item-body.selected {
        background-color: #e4d2d2;
    }

.row-item-body:hover {
    background-color: #ebebeb;
}

.row-item-body.selected {
    background-color: #e4d2d2;
}

.card-item-body-no-selection {
    padding: 5px 5px;
    margin: 0px 0px 0px 15px;
    border: none;
    background-color: white;
}
