<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!-- Use this to create an in-memory DB.-->
  <system.data>
    <DbProviderFactories>
      <add name="Effort.Provider"
           invariant="Effort.Provider"
           description="Effort.Provider"
           type="Effort.Provider.EffortProviderFactory, Effort" />
    </DbProviderFactories>
  </system.data>

  <entityFramework>
    <!-- Use this to create a local DB for integration testing against a connected DB.-->
    <!--<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>-->
    <!-- Use this to create an in-memory DB.-->
    <defaultConnectionFactory type="RentalTracker.DAL.Tests.EffortProviderFactory, RentalTracker.DAL.Tests">
    </defaultConnectionFactory>

    <!-- Use this to create a local DB for integration testing against a connected DB.-->
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
    <!-- Use this to create an in-memory DB.-->
    <providers>
      <provider invariantName="Effort.Provider"
                type="Effort.Provider.EffortProviderServices, Effort" />
    </providers>

    <interceptors>
      <interceptor type="System.Data.Entity.Infrastructure.Interception.DatabaseLogger, EntityFramework">
        <parameters>
          <parameter value="LogOutput.txt"/>
        </parameters>
      </interceptor>
    </interceptors>
  </entityFramework>

  <!-- Use this to create a local DB for integration testing against a connected DB.-->
  <!--<connectionStrings>
    <add name="RentalTracker" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=RentalTrackerTest ; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <!-- Use this to create an in-memory DB.-->
  <connectionStrings>
    <add name="RentalTracker" connectionString="" providerName="Effort.Provider" />
  </connectionStrings>

</configuration>