<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RentalTracker" connectionString="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog= RentalTracker ; Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>