<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">Date</label>
        <div class="col-md-8">
            <select class="form-control">
                <option value="1">All Dates</option>
                <option value="2">This Month</option>
                <option value="3">Last 3 Months</option>
                <option value="4">Last 6 Months</option>
                <option value="5">Last 12 Months</option>
                <option value="6">Custom Date</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Start</label>
        <div class="col-md-8">
            <div id='transaction-datepicker' class="input-group date">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <text class="form-control"></text>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">End</label>
        <div class="col-md-8">
            <div id='transaction-datepicker' class="input-group date">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <text class="form-control"></text>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <button class="btn btn-default center-block">Search</button>
        </div>
    </div>


</div>
