
<div class="jumbotron">
    <div>
        <a href="~/Home/Index">
            <p class="h1 col-sm-1" style="color:black"><i class="glyphicon glyphicon-circle-arrow-left"></i></p>
        </a>
        <p class="h1">@ViewBag.Title</p>
    </div>
</div>

