
<div class="jumbotron">
    <div class="row">
        <a href="~/Home/Index">
            <span class="h1 col-md-1" style="color:black"><i class="glyphicon glyphicon-circle-arrow-left"></i></span>
        </a>
        <span class="h1 col-md-4">@ViewBag.Title</span>
    </div>
</div>

